<header class="main-nav-container3">

        <div class="nav-items-list3 nav-items-list-hidden">
            <span class="wfont">
            <a href="/cmnd/"style="color:black;"><u>H</u>ome</a>
            <a href="/aol/"style="color:black;"><u>C</u>hat</a>
            <a href="/myspace/"style="color:black;"><u>F</u>riends</a>
            <a href="/twitter/"style="color:black;"><u>P</u>rofile</a>
        </div>
    
    </nav>
</header>