<header class="main-nav-container2">

    <nav class="main-nav">

            
       
        <div class="nav-items-list2 nav-items-list-hidden">
            <body style="background-color: rgb(237, 237, 237);">    
        <span class="wfont">
            <a href="/cmnd/"><img src="/assets/l0_msicon1.png" width="110"></a>
            <a href="/aol/"><img src="/assets/l0_msicon2.png" width="110"> </a>
            <a href="/myspace/"><img src="/assets/l0_msicon4.png" width="110"></a>
            <a href="/twitter/"><img src="/assets/l0_msicon3.png" width="110"></a>
        </div>

    </nav>
</header>