<a href="#main-content" class="skip-link">Skip to content</a>
<header class="main-nav-container">


       
        <div class="nav-items-list nav-items-list-hidden">
            <span class="wfont">
            <a href="/index/"style="color:#05FF00;">Home</a>
            <a href="/aol/"style="color:#05FF00;">Chat</a>
            <a href="/myspace/"style="color:#05FF00;">Friends</a>
            <a href="/twitter/"style="color:#05FF00;">Profile</a>
        </div>

    </nav>
</header>