<a href="#main-content" class="skip-link">Skip to content</a>
<header class="main-nav-container">

    <nav class="main-nav">
        

       
        <div class="nav-items-list2 nav-items-list-hidden">
            <span class="wfont">
            <a href="/home/">Home</a>
            <a href="/aol/">Chat</a>
            <a href="/myspace/">Friends</a>
            <a href="/twitter/">Profile</a>
        </div>

    </nav>
</header>