<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Chatroom' %}
  <body class="aol">
    {% include 'header' %}
    <main id="main-content">
      <div class="window">
        <header class="window__header">
          <h1>Spongegar : Patar - Instant Message</h1>
          <div>
            <button class="header-button header-button--minimize">
              <div></div>
            </button>
            <button class="header-button header-button--expand">
              <div></div>
            </button>
            <button class="header-button header-button--danger">
              <div></div>
              <div></div>
            </button> 
          </div>
        </header>
        <nav class="window__navigation">
          <ul>
            <li><span class="link-shortcut">F</span>ile</li>
            <li><span class="link-shortcut">E</span>dit</li>
            <li>I<span class="link-shortcut">n</span>sert</li>
            <li><span class="link-shortcut">P</span>eople</li>
          </ul>
        </nav>
        <div class="window__body">
          <ul class="messages">
            <li class="message">
              <span class="message__author">Spongegar: </span>
              <span class="message__text">Hi, Patar!</span>
            </li>
            <li class="message message--user">
              <span class="message__author">Patar: </span>
              <span class="message__text">Hi Spongegar!</span>
            </li>
            <li class="message message--user">
              <span class="message__author">Patar: </span>
              <span class="message__text">Have you seen Squog?</span>
            </li>
          </ul>
          <section class="message-actions">
            <textarea class="message-actions__textarea">No Squog in sight!</textarea>
            <button class="message-actions__send">Send</button>
          </section>
        </div>
      </div>