<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Command Prompt Era' %}
  <body class="cmnd">
    {% include 'header' %}
    <main id="main-content">
      <body class="home" style="background-color:black;">
        <p>C:\users\[Name]\Desktop>

      Welcome! 
      <br><br>
      Description:The internet wasn't always the way it was now, before social media, before the world wide web, there was just what is now known as "command prompt" 
      <br><br><br>
      Directory: <br> [While it may not be up to code, I can help show you what the internet was once like]
      <br><br><br>
      Continuation Parameters:<br>       ?/                 If you wish to see the evolution of the internet please tap [chat icon] to continue...
      <br><br><br>
      C:\users\[Name]\Desktop C:\users\[Name]\Desktop>Evolution

</p>
    </main>
    {% include 'footer' %}
  </body>
</html>
