<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Command Prompt Era' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content">
      <body class="home" style="background-color:black;">
       <div class="typing-container"></div>
                <br><br>
      <p>C:\users\[Name]\Desktop>Welcome! </p>
                <br>
      <p>Description:The internet wasn't always the way it was now,</p>
      <p>before social media, before the world wide web, there was</p>
      <p>just what is now known as "command prompt" </p>
                <br><br><br>
      <p>Directory:</p> 
      <p>[While it may not be up to code, I can help show you what</p>
      <p>the internet was once like]</p>
                <br><br><br>
      <p>Continuation Parameters:</p><p>       ?/                 If you wish to see the evolution of the</p><p>internet please tap [chat icon] to continue...</p>
                <br><br><br>
      <p>C:\users\[Name]\Desktop</p>
      <p>C:\users\[Name]\Desktop>Evolution</p>
        </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
