<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Command Prompt Era' %}
  <body class="home" style="background-color:black;">
    {% include 'header' %}
    <main id="main-content">
      <div class="typing-container"></div>
      <p id="cmnd-typed-text" class="cmnd-typed-text" aria-live="polite"></p>

      <script type="text/plain" id="cmnd-text-template">
C:\users\HostBot\Desktop>Welcome!


Description:The internet wasn't always the way it was now, before social media, before the world wide web, there was just what is now known as "command prompt"



Directory:
[While it may not be up to code, I can help show you what the internet was once like]



Continuation Parameters:
    ?/                 If you wish to see the evolution of the internet please tap [chat icon] to continue...



C:\users\HostBot\Desktop
C:\users\HostBot\Desktop>Evolution
      </script>
    </main>
    <script src="/assets/styles.js" defer></script>
  </body>
</html>
