<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Command Prompt Era' %}
  <body class="home" style="background-color:black;">
    {% include 'header' %}
    <main id="main-content">
      <div class="typing-container"></div>
                <br><br>
      <p>C:\users\HostBot\Desktop>Welcome! 
                <br><br>
      Description:The internet wasn't always the way it was now,
     before social media, before the world wide web, there was
      just what is now known as "command prompt" 
                <br><br><br>
      Directory:
      [While it may not be up to code, I can help show you what
     the internet was once like]
                <br><br><br>
      Continuation Parameters:
             ?/                 If you wish to see the evolution of the
      internet please tap [chat icon] to continue...
                <br><br><br>
    C:\users\HostBot\Desktop<br>
     C:\users\HostBot\Desktop>Evolution</p>
    </main>
  </body>
</html>
