<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'MySpace' %}
  <body class="MySpace">
    {% include 'header' %}
    <main id="main-content">
      <div class="master-container">

      <!-- Main Header Begins -->
      <header class="main-header">
        <nav class="search-bar">
    
    
    
      </header>
      <!-- Main Header Ends -->
    
      <div class="page-content-container">
    
        <!-- Profile Sidebar Begins -->
        <aside class="profile-sidebar">
    
          <header>
            <h1>Host</h1>
          </header>
    
          <!-- Profile Picture -->
          <div class="profile-picture-container">
            <img class="profile-pic" src="https://assets.codepen.io/3/tom-pic.jpg" alt="A profile picture of Tom, the creator of MySpace.">
    
            <p class="personal-msg"><b>"This is a personal favorite time period for many"</b></p>
    
            <ul class="gender-age">
              <li>???</li>
              <li>[unknown age]}</li>
              <li>The Internet</li>
              <li>United States</li>
            </ul>
    
            <ul class="last-login">
              <li>Last Login:</li>
              <li>4/1/2008</li>
            </ul>
    
            <p class="pics-videos">View My: <a href="#"><b>Pics</b></a> | <a href="#"><b>Videos</b></a></p>
          </div>
    
          <!-- Contact Box -->
          <section class="contact-box">
            <h2>Contacting Host</h2>
    
            <figure class="contact-images">
              <img src="https://assets.codepen.io/3/sendMailIcon.gif" alt="Send Message">
              <img src="https://assets.codepen.io/3/forwardMailIcon.gif" alt="Forward to Friend">
              <img src="https://assets.codepen.io/3/addFriendIcon.gif" alt="Add to Friends">
              <img src="https://assets.codepen.io/3/addFavoritesIcon.gif" alt="Add to Favorites">
              <img src="https://assets.codepen.io/3/messagefriend.gif" alt="Instant Message">
              <img src="https://assets.codepen.io/3/blockUser.gif" alt="Block User">
              <img src="https://assets.codepen.io/3/addToGroupIcon.gif" alt="Add to Group">
              <img src="https://assets.codepen.io/3/rankUserIcon.gif" alt="Rank User">
            </figure>
          </section>
    
          <!-- MySpace URL -->
          <section class="myspace-url-box">
            <h3><b>MySpace URL:</b></h3>
            <p>http://www.myspace.com/host</p>
          </section>
    
          <!-- Interests Section -->
          <section class="interests">
            <table class="sidebar-table">
    
              <caption>
                <h2 class="sidebar-table-h2">Host's Interests</h2>
              </caption>
    
              <tbody>
                <tr>
                  <th class="sidebar-table-header" scope="row">General</th>
                  <td class="sidebar-table-data">
                    <p>Internet History, Programming, Web Design, AI</p>
                  </td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Music</th>
                  <td class="sidebar-table-data">
                    <p>techno</p>
                  </td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Movies</th>
                  <td class="sidebar-table-data">
                    <p>Will Smith's: I, Robot</p>
                  </td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Television</th>
                  <td class="sidebar-table-data">
                    <p>People still watch TV?</p>
                  </td>
                </tr>
    
              </tbody>
            </table>
          </section>
    
          <!-- Tom's Details Section -->
          <section class="details">
            <table class="sidebar-table">
    
              <caption>
                <h2 class="sidebar-table-h2">Host's Details</h2>
              </caption>
    
              <tbody>
                <tr>
                  <th class="sidebar-table-header" scope="row">Status:</th>
                  <td class="sidebar-table-data">Single</td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Here For:</th>
                  <td class="sidebar-table-data">History</td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Hometown:</th>
                  <td class="sidebar-table-data">The Internet</td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Ethnicity:</th>
                  <td class="sidebar-table-data">???</td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Zodiac Sign:</th>
                  <td class="sidebar-table-data">Don't Have One</td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Smoke / Drink:</th>
                  <td class="sidebar-table-data">No / No</td>
                </tr>
    
                <tr>
                  <th class="sidebar-table-header" scope="row">Occupation:</th>
                  <td class="sidebar-table-data">Internet Historian</td>
                </tr>
    
              </tbody>
            </table>
          </section>
    
          <!-- Tom's Schools Section -->
          <section class="schools">
            <table class="sidebar-table">
    
              <caption>
                <h2 class="sidebar-table-h2">Host's Schools</h2>
              </caption>
    
              <tbody>
                <tr>
                  <th class="sidebar-table-header" scope="row">
                    <ul>
                      <li><a href="#">SUNY New Paltz</a></li>
                      <li>New Paltz, NEW YORK</li>
                      <li>Graduated: <a href="#">2000</a></li>
                      <li>Degree: Bachelor's Degree</li>
                      <li>Major: Graphic Design</li>
                    </ul>
                  </th>
                  <td class="sidebar-table-data">1999 to 2000</td>
                </tr>
    
    
              </tbody>
            </table>
    
          </section>
        </aside>
        <!-- Profile Side Bar Ends -->
    
        <!-- Main Section -->
        <main>
    
          <section class="user-network">
            <header>
              <h2>Host is in your extended network</h2>
            </header>
          </section>
    
          <section class="blog">
            <p><b>Host's Latest Blog Entry</b> [<a href="#">Subscribe to this Blog</a>]</p>
            <p>History of the Internet! (<a href="#">view more</a>) </p>
          </section>
    
          <section class="blurbs">
            <header class="main-section-header">
              <h2 class="main-section-h2">Host's Blurbs</h2>
            </header>
    
            <h3>The Early Social Media Era:</h3>
            <p>Breif Summary about this time period</p>
    
            <h3>Keeping this here if I wanna use it later</h3>
            <p>might come in handy later!</p>
          </section>
    
          <section class="friends">
            <header class="main-section-header">
              <h2 class="main-section-h2">Host's Friend Space</h2>
            </header>
    
            <p><b>Tom has <span class="focus-highlight">3</span> Friends.</b></p>
    
            <div class="friend-pic-container">
              <figure>
                <figcaption><a href="#">Tom</a></figcaption>
                <img src="https://assets.codepen.io/3/myspace-records.jpg">
              </figure>
    
              <figure>
                <figcaption><a href="#">SocialMediaUser1</a></figcaption>
                <img src="https://assets.codepen.io/3/andi.jpg">
              </figure>
    
              <figure>
                <figcaption><a href="#">You!</a></figcaption>
                <img src="https://assets.codepen.io/3/abraham.jpg">
              </figure>
    
             
            <p class="friends-list-link"><a href="#">View All of Host's Friends</a></p>
          </section>
    
          <section class="comment-wall">
            <header class="main-section-header">
              <h2 class="main-section-h2">Tom's Friends Comments</h2>
            </header>
    
            <p id="comment-counter"><b>Displaying <span class="focus-highlight">10</span> of <span class="focus-highlight">780610</span> comments (<a href="#">View/Edit All Comments</a>)</b></p>
    
            <table>
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Gram</a></figcaption>
                    <img src="https://assets.codepen.io/3/gram.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 6:54 PM</h3>
                  <p>Dude, Appetite for Destruction Rocks, same with Alice Cooper and KISS</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Amanda Lepore</a></figcaption>
                    <img src="https://assets.codepen.io/3/amanda.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 6:51 PM</h3>
                  <p>tom=new money. ;D congrats darling</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Rhys__=]</a></figcaption>
                    <img src="https://assets.codepen.io/3/missing.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 5:30 PM</h3>
                  <p>tom you have changed the net dude. well in. rhys</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">SLACKER</a></figcaption>
                    <img src="https://assets.codepen.io/3/slacker.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:37 PM</h3>
                  <p>dont listen to those girls, they don't know what they're talking about!! I LOVE YOUR DISPLAY PIC, seeing it makes my day a little better!!!</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Brian</a></figcaption>
                    <img src="https://assets.codepen.io/3/missing.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:13 PM</h3>
                  <p>Myspace prevented another potential Columbine.You must be very proud!</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Nnenna</a></figcaption>
                    <img src="https://assets.codepen.io/3/nnenna.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:08 PM</h3>
                  <p>Whats up tom...it would be really cool if poets and spoken word artists had a way to display their talent. Its really hard to find spoken word in the music section.</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Woodrow Wilson</a></figcaption>
                    <img src="https://assets.codepen.io/3/missing.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:06 PM</h3>
                  <p>Despite all the controversy, myspace proved to be useful in saving people today. Good press Mr. Anderson!</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Vicky</a></figcaption>
                    <img src="https://assets.codepen.io/3/missing.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:05 PM</h3>
                  <p>Just wanna say tks to you :p Everything seems so wonderful, i can change my skin myself :p</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">Camy</a></figcaption>
                    <img src="https://assets.codepen.io/3/missing.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:04 PM</h3>
                  <p>come on!!! A*teen and radiohead together on the same list ???</p>
                </td>
              </tr>
    
              <tr>
                <th scope="row">
                  <figure>
                    <figcaption><a href="#">James Dean</a></figcaption>
                    <img src="https://assets.codepen.io/3/james.jpg">
                  </figure>
                </th>
                <td>
                  <h3>4/22/2006 12:04 PM</h3>
                  <p>Kundera and Orwell are great.. Do you know Arthur Koestler? Have you read Hommage to Catalonia?</p>
                </td>
              </tr>
            </table>
    
            <p id="add-comment"><a href="#">Add Comment</a></p>
    
          </section>
        </main>
    
      </div>
      <!-- Footer -->
      <footer class="footer">
    
    
        <small>©2003-2006 MySpace.com. All Rights Reserved.</small>
      </footer>
    </div>