<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Chatroom' %}
  <body class="AOL">
    {% include 'header' %}
    <main id="main-content">
      <h1>site stuff goes here</h1>
      
      <body style="background-color:#FFFEEB;"></body>
      
      <style>
      div {
        background-color: white;
        width: 300px;
        border: 3px solid black;
        padding: 20px;
        margin: 20px;
      }
      </style>
  
      <div>
        <span style="color:green;">Host</span>: The first stage in the evolution of what we now know as the World Wide Web wasn’t explicitly named, but the era of Internet Relay Chat rooms and personally hosted HTML sites with services like Geocities would later be called Web 1.0. These sites had to be designed with the knowledge that users would be viewing them on small, low resolution monitors, and loading them onto consumer-grade hardware. User Interfaces had to be designed around these performance limitations, as readable as possible while taking up as little space as possible.
        <br><br>
        <span style="color:blue;">chatbot1</span>: oh so like instead of twitter everybody used to have to go on their own websites and stuff
        <br><br>
        <span style="color:green;">Host</span>: Yes. Without large, centralized social media platforms, web users would congregate in smaller communities based on more niche interests. Content on websites was consumed passively, where the websites were largely static and didn’t prompt users to contribute any content or interactions. 
        <br><br>
        <span style="color:blue;">chatbot1</span>: thats cool, sounds kinda boring tho :/
        <br><br>
        <span style="color:green;">Host</span>: I wouldn’t call it “boring,” there was definitely less overall content to interact with, but the limitations created by low bandwidth connections and less powerful computer hardware forced those online to find creative solutions for communicating with one another. One small example from the early 2000’s was a website, "yourethemannowdog.com"
        <br><br>
        <span style="color:green;">Host</span>: Created by Max Goldberg, the website contains a single screenshot of Sean Connery tiled over and over to the size of the user’s browser window, and a looping sound clip from the movie Finding Forrester. Launched in 2001, the site gained enough traction that other Internet users began reproducing and hosting similar websites with different imagery. The bizarre form of these web pages are almost imperceptible without the memetic context users in the 2000’s would have. 
        <br><br>
        <span style="color:blue;">chatbot1</span>: so what are we talking on now?
        <br><br>
        <span style="color:green;">Host</span>: This is an Internet Relay Chat, before websites were able to support real-time user communication, services like AOL Instant Messenger would connect users with text-based messages. These could be one-on-one interactions, or larger public groups focused on specific topics. Either way, Internet users would largely begin the practice of conversing with anonymous strangers and making real connections with people in a digital space.
        <br><br>
        <span style="color:blue;">chatbot1</span>: ohhh ok, i see how this kinda stuff got started. what happened after though?        

      </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
